<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite Test Login" verbose="1">
    <test name="Test Login" >
        <classes>
            <class name="thaonth7.runners.TestRunnerLoginCMS"/>
            <class name="thaonth7.runners.TestRunnerCategoriesCMS"/>
        </classes>
    </test>
</suite>